<div class="container mt-3 mb-3">    
    <% @student.posts.each do |post| %>
        <div data-controller="slideshow" data-slideshow-index-value="1">
            <% post.images.each_with_index do |image, index| %>              
                <% if post.images.attached? %>             
                    <div data-slideshow-target="slide">   
                        <%= image_tag(url_for(image), style: "width:100%; height:500px" ) %>
                    </div>
                <% end %> 
            <% end %>
            <button data-action="slideshow#previous"> ← </button>
            <button data-action="slideshow#next"> → </button> 
        </div>

        <div class="mb-3">
            <%= post.title %>
        </div>

        <div class="mb-3">
            <%#= post.content %>
        </div>

        <div class="mb-3">
            <% if post.title.present? %> 
                <%= link_to "Destroy", "/students/#{post.student_id}/posts/#{post.id}", method: :delete, data: {confirm: "Are you sure"} %>
            <% end %>
        </div>
    <% end %>
</div>    